{% extends "base.html" %}{% load tailwind_filters %} {% block content %}

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img
        alt="ecommerce"
        class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
        src="https://dummyimage.com/400x400"
      />
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <a href="{% url 'shop:home' pk=request.user.shop.id cat=0 %}">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">
            Go back to products in {{shop}}
          </h2>
        </a>
        <h1 class="text-gray-700 text-3xl title-font font-medium mb-1">
          Name: {{shop.name}}
        </h1>

        <h3 class="text-gray-600 text-2xl font-medium mb-1">
          Categories: {{categories}}
        </h3>
        <h3 class="text-gray-600 text-2xl font-medium mb-1">
          Items: {{shop.products.all.count}}
        </h3>
        <div class="flex py-6">
          <form
            method="POST"
            enctype="multipart/form-data"
            id="update_form"
            action=""
          >
            {% csrf_token %} {{ form|crispy}}
            <button
              class="flex ml-right text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"
              type="submit"
            >
              Add to Stock Data
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
